@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

nav {
  height: 7.5vmin;
  margin-bottom: 2vmin;
  background-color: #1C1C1C;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav > a {
  color: white;
  text-decoration: none;
  margin-right: 50px;
}

.title {
  position: absolute;
  left: 25px;
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
}